@using SimplCommerce.Module.Core.Models

@model SimplCommerce.Module.Catalog.Areas.Catalog.ViewModels.ProductDetail

@inject SignInManager<User> SignInManager

@{
    ViewBag.Title = Model.MetaTitle ?? Model.Name;
}

@section additionalMeta {
    <meta name="title" content="@ViewBag.Title" />
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="description" content="@Model.MetaDescription" />
}

@section head {
    <link simpl-append-version="true" rel="stylesheet" href="~/lib/smoothproducts/css/smoothproducts.css" />
    <link simpl-append-version="true" rel="stylesheet" href="~/modules/catalog/product-detail.css" />
    <link simpl-append-version="true" rel="stylesheet" href="https://cdn.bootcss.com/social-share.js/1.0.16/css/share.min.css" />
    <link simpl-append-version="true" rel="stylesheet" href="~/lib/wenku/css/bootstrap.css" />

    <link rel="stylesheet" href="~/lib/wenku/css/flat-ui.min.css" />

    <link rel="stylesheet" href="~/lib/wenku/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/wenku/css/jquery.toast.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/wenku/css/dochub.css" />

    <link rel="stylesheet" type="text/css" href="~/lib/wenku/css/dochub-mobile.css" />
    <script simpl-append-version="true" src="~/lib/wenku/wenku.js"></script>
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">@Localizer["Home"]</a></li>
        @if (Model.Categories.Any())
        {
            @await Component.InvokeAsync("CategoryBreadcrumb", new { categoryIds = Model.Categories.Select(x => x.Id) })
        }
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>

<div class="product-detail">
    <div class="row">
        <div class="col-md-6">
            <div class="sp-wrap">
                @foreach (var image in Model.Images)
                {
                    <a href="@image.Url">
                        <img src="@image.ThumbnailUrl" alt="" />
                    </a>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-name">
                <h1 class="">@Model.Name</h1>
            </div>
            <ul class="list-inline product-ratings">
                <li><input type="hidden" value="@Model.RatingAverage" readonly="readonly" class="rating-loading" step="1" data-size="xs" data-show-clear="false" data-show-caption="false" /></li>
                <li class="product-review-list">
                    <span>(@Model.ReviewsCount) <a href="#reviews">@Localizer["reviews"]</a> | <a href="#addreview"> @Localizer["Add Review"]</a></span>
                </li>
            </ul>
            <div class="product-short-desc">@Html.Raw(Model.ShortDescription)</div>
            @if (Model.HasVariation)
            {
                <form>
                    <div class="product-attrs">
                        @foreach (var option in Model.AvailableOptions)
                        {
                            <div>
                                <h4>@option.OptionName </h4>
                                <ul class="list-inline product-attr-options">
                                    @foreach (var value in option.Values)
                                    {
                                        var shouldChecked = Model.Variations.First().Options.Any(x => x.Value == value);
                                        <li class="list-inline-item">
                                            <input type="radio" value="@value" checked="@shouldChecked" name="@option.OptionName" />
                                            @if (Model.OptionDisplayValues.ContainsKey(value) && !String.IsNullOrWhiteSpace(Model.OptionDisplayValues[value].Value))
                                            {
                                                if (Model.OptionDisplayValues[value].DisplayType == "color")
                                                {
                                                    <label title="@value" class="color" style="background-color:@Model.OptionDisplayValues[value].Value"></label>
                                                }
                                                else
                                                {
                                                    <label class="badge">@Model.OptionDisplayValues[value].Value</label>
                                                }
                                            }
                                            else
                                            {
                                                <label class="badge">@value</label>
                                            }
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </form>

                foreach (var variant in Model.Variations)
                {
                    var hidden = variant != Model.Variations.First() ? "collapse" : "";
                    <div class="product-variation @hidden" data-variation-name="@variant.NormalizedName">
                        <div class="product-price">
                            @if (variant.IsCallForPricing)
                            {
                                <span class="label label-info">@Localizer["Call for pricing"]</span>
                            }
                            else
                            {
                                <h3>@variant.CalculatedProductPrice.Price.ToString("C")</h3>
                                if (variant.CalculatedProductPrice.PercentOfSaving > 0)
                                {
                                    <p class="product-price-regular">@variant.CalculatedProductPrice.OldPrice.Value.ToString("C")</p>
                                    <p class="product-price-saving">@Localizer["You save"] (@(variant.CalculatedProductPrice.PercentOfSaving)%)</p>
                                }
                            }
                        </div>
                        @if (variant.StockTrackingIsEnabled && variant.StockQuantity <= 0)
                        {
                            <div class="out-of-stock">
                                <span class="label label-danger">@Localizer["Out of stock"]</span>
                            </div>
                        }
                        <div class="add-to-cart">
                            <form class="inline">
                                <input type="hidden" name="productId" value="@variant.Id" />
                                <div class="product-quantity">
                                    <button type="button" class="quantity-button" name="subtract" value="-">-</button>
                                    <input type="text" class="quantity-field" readonly="readonly" name="qty" value="1" />
                                    <button type="button" class="quantity-button" name="add" value="+">+</button>
                                </div>
                                <button type="button" disabled="@(!variant.IsAllowToOrder || (variant.StockTrackingIsEnabled && variant.StockQuantity <= 0))" class="btn btn-lg btn-add-cart">@Localizer["Add to cart"]</button>
                                <div>
                                    <ul class="list-inline add-to-lists">
                                        <li class="wishlist-in">
                                            <i class="fa fa-heart"></i>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                <a href="#" class="add-to-wishlist">@Localizer["Add to Wishlist"]</a>
                                            }
                                            else
                                            {
                                                <a asp-area="Catalog" asp-controller="Account" asp-action="Login" asp-route-returnurl="@($"{Context.Request.Path}{Context.Request.QueryString}")">@Localizer["Add to Wishlist"]</a>
                                            }
                                        </li>
                                        <li class="compare-in">
                                            <i class="fa fa-exchange"></i>
                                            <a href="#" class="add-to-comparison">@Localizer["Add to Compare"]</a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                }
                <div class="product-variation-notavailable collapse">
                    <span class="label label-danger">@Localizer["Not available"]</span>
                </div>
            }
            else
            {
                <div class="product-price">
                    @if (Model.IsCallForPricing)
                    {
                        <span class="label label-info">@Localizer["Call for pricing"]</span>
                    }
                    else
                    {
                        <h3>@Model.CalculatedProductPrice.Price.ToString("C")</h3>
                        if (Model.CalculatedProductPrice.PercentOfSaving > 0)
                        {
                            <p class="product-price-regular">@Model.CalculatedProductPrice.OldPrice.Value.ToString("C")</p>
                            <p class="product-price-saving">@Localizer["You save"] (@(Model.CalculatedProductPrice.PercentOfSaving)%)</p>
                        }
                    }
                </div>
                if (Model.StockTrackingIsEnabled && Model.StockQuantity <= 0)
                {
                    <div class="out-of-stock">
                        <span class="label label-danger">@Localizer["Out of stock"]</span>
                    </div>
                }
                <div class="add-to-cart">
                    <form class="inline">
                        <input type="hidden" name="productId" value="@Model.Id" />
                        <div class="product-quantity">
                            <button type="button" class="quantity-button" name="subtract" value="-">-</button>
                            <input type="text" class="quantity-field" readonly="readonly" name="qty" value="1" />
                            <button type="button" class="quantity-button" name="add" value="+">+</button>
                        </div>
                        <button type="button" disabled="@(!Model.IsAllowToOrder || (Model.StockTrackingIsEnabled && Model.StockQuantity <= 0))" class="btn btn-lg btn-add-cart">@Localizer["Add to cart"]</button>
                        <div>
                            <ul class="list-inline add-to-lists">
                                <li class="wishlist-in">
                                    <i class="fa fa-heart"></i>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <a href="#" class="add-to-wishlist">@Localizer["Add to Wishlist"]</a>
                                    }
                                    else
                                    {
                                        <a asp-area="Catalog" asp-controller="Account" asp-action="Login" asp-route-returnurl="@($"{Context.Request.Path}{Context.Request.QueryString}")">@Localizer["Add to Wishlist"]</a>
                                    }
                                </li>
                                <li class="compare-in">
                                    <i class="fa fa-exchange"></i>
                                    <a href="#" class="add-to-comparison">@Localizer["Add to Compare"]</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <div>
            <h3>@Localizer["Product detail"]</h3>
            @Html.Raw(Model.Description)
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(Model.Specification))
    {
        <div>
            <h3>@Localizer["Product specification"]</h3>
            @Html.Raw(Model.Specification)
        </div>
    }
    @if (Model.Attributes.Any())
    {
        <div>
            <h3>@Localizer["Product specification"]</h3>
            <table class="table table-striped">
                @foreach (var attribute in Model.Attributes)
                {
                    <tr>
                        <td>@attribute.Name</td>
                        <td>@attribute.Value</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>

<div id="app" v-cloak=v-cloak v-if="datas">
    <div class="container wenku-main">
        <div class="row">
            <div class="col-xs-9 wenku-left wenku-nopadding">

                <div class="panel panel-default wenku-noborder">
                    <div class="panel-body">
                        <h1>
                            <img :alt="datas.content[0].f_title" :src="inter_img+datas.content[0].f_img" /> {{datas.content[0].f_title}}

                        </h1>
                        <div class="help-block wenku-doc-info">
                            <span>
                                <a :href="'coding.html?f_catid='+datas.content[0].f_catid" :title="datas.content[0].f_onelevel">{{datas.content[0].f_onelevel}}</a> >
                                <a :href="'coding.html?f_catid='+datas.content[0].f_catid+'&f_cattid'+datas.content[0].f_cattid" :title="f_catidName.f_towlevel">{{datas.content[0].f_towlevel}}</a> >

                                <span class="text-muted">文档预览</span>
                            </span>
                            <div class="pull-right text-muted">
                                <span title="页数"><i class="fa fa-file-text-o"></i> {{datas.content[0].f_page}} 页</span>
                                <span title="上传人"><i class="fa fa-download"></i> {{datas.content[0].f_code}} </span>
                                <span title="浏览"><i class="fa fa-eye"></i> {{datas.content[0].f_view}} 浏览</span>
                                <span title="金币"><i class="fa fa-comments-o"></i> {{datas.content[0].f_gold}}</span>
                                <span title="日期"><i class="fa fa-heart-o"></i> {{datas.content[0].f_date}}</span>

                            </div>
                        </div>

                        <div class="wenku-viewer" id="wenku-viewer" data-scale="9">

                            <img v-for="(t,i) in  doc" src="images/grey.gif" :data-original="inter_img+t.pic" class="wenku-lazy wenku-viewer-img wenku-page5" :data-page="i" />
                            <div v-show="docstate" @@click="zhankai" style="position: relative;z-index: 999;" class="wenku-viewer-more text-center" data-next="6" data-ext="svg" data-svg="https://static.wenkuzhijia.cn/fb5d2c230bf3b4f99dd83bd15622a9b4/">

                                <a href="javascript:void(0);" class="wenku-viewer-more-btn">
                                    <div class="help-block">

                                        当前文档{{datas.content[0].f_page}} 页 <br /> <!--还有 <span class="wenku-unread-pages">{{datas.content[0].f_page.length-doc.length}}</span>--> <span class="text-primary">继续阅读</span>
                                    </div>
                                </a>

                                <div class="help-block">
                                    <a href="javascript:void(0);" class="wenku-viewer-more-btn"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>

                        </div>

                    </div>
                    s=
                </div>

                s=
            </div>

            s=
            <div class="col-xs-3 wenku-right">

                <div class="panel panel-default wenku-noborder wenku-maylike">
                    <div class="panel-heading">
                        <div class="strong">热门文档</div>
                    </div>
                    <div class="panel-body">

                        <ul class="wenku-tabs-list">

                            <li v-for="(t,i) in datas.Hot">
                                <img :alt="t.f_title" :src="inter_img+t.f_img" />
                                <a :href="'info.html?id='+t.f_id" target="_blank" :title="t.f_title">{{t.f_title}}</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="panel panel-default wenku-noborder wenku-maylike">
                    <div class="panel-heading">
                        <div class="strong">最新文档</div>
                    </div>
                    <div class="panel-body">

                        <ul class="wenku-tabs-list">

                            <li v-for="(t,i) in datas.New">
                                <img :alt="t.f_title" :src="inter_img+t.f_img" />
                                <a :href="'info.html?id='+t.f_id" target="_blank" :title="t.f_title">{{t.f_title}}</a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
            <div class="panel panel-default wenku-noborder wenku-comment">
                <div class="panel-body">

                    <form role="form" method="post" class="wenku-comment-form">
                        <div class="form-group">
                            <textarea name="Comment" rows="3" class="form-control" v-model="comment" required="required" placeholder="文明评论，文明你我他"></textarea>

                        </div>
                        <div class="form-group">
                            <div class="col-xs-9 clearfix wenku-nopadding">
                                <div class="help-block">您好可以输入 <span class="text-danger wenku-comment-num">{{255-comment.length}}</span> 个字符</div>
                            </div>

                            <div class="col-xs-3 wenku-no-pdr clearfix text-right">
                                <input type="button" class="btn btn-danger btn-block" @@click="subcomment" value="发表评论" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div v-if="datas.content[0].indexComment.length>0" class="panel panel-default wenku-noborder wenku-comment-list">
                <div class="panel-heading">评论列表</div>
                <div class="panel-body">

                    <ul v-for="(t,i) in datas.content[0].indexComment">

                        <li class="clearfix">
                            <div class="col-xs-1 wenku-nopadding">
                                <a href="#" class="thumbnail thumbnail-avatar" title="">
                                    <img :src="inter_url+t.f_avatar" class="img-responsive " alt="" />
                                </a>
                            </div>
                            <div class="col-xs-11 wenku-no-pdr">
                                <a href="#">{{t.f_user}}</a>

                                <span class="color-gray pull-right">{{t.f_datetime}}</span>
                                <div class="help-block wenku-comment-content">{{t.f_content}}</div>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid wenku-footer">
        <div class="container">
            <div class="container-fluid wenku-footer">
                <div class="container">
                    <div class="row wenku-flink">
                        <div class="col-xs-12">
                            <div><strong>友情链接</strong></div>
                            <div class="help-block">

                                <a v-for="(t,i) in  data.link" :href="t.f_link" target="_blank" title="t.f_tile">{{t.f_title}}</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid wenku-footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center wenku-help help-block">

                    <a href="about1.html" target="_blank" title="关于我们">关于我们</a>

                    <a href="about2.html" target="_blank" title="关于我们">文库协议</a>

                    <a href="about3.html" target="_blank" title="意见反馈">版本更新</a>

                    <a href="about4.html" target="_blank" title="免责声明">免责声明</a>

                    <a href="about5.html" target="_blank" title="意见反馈">联系我们</a>

                </div>
                <div class="col-xs-12 text-center help-block">
                    文库之家&nbsp;&nbsp;&copy;2019&nbsp;&nbsp;<span class="text-muted">|</span>&nbsp;&nbsp;
                    <a href="/sitemap.xml" title="站点地图" target="_blank">站点地图</a>
                </div>
                <div class="col-xs-12 text-center help-block">
                    <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">粤ICP备18004373号-2</a>
                </div>
                <div class="col-xs-12 text-center help-block">
                    <small>
                        Powered By <a href="#" style="color: #1abc9c;" target="_blank" title="DocHub">DocHub</a> v2.1
                    </small>
                </div>

                <div class="col-xs-12 text-center">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-9">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="javascript:void(0);" class="wenku-expend"><i class="fa fa-arrows-alt em14"></i>&nbsp;</a>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#ModalShare"><i class="fa fa-share-alt em14"></i>&nbsp;</a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <p class="navbar-text"><i class="fa fa-database"></i>&nbsp;&nbsp;{{datas.content[0].f_gold}}&nbsp;&nbsp;个金币 </p>
                        <li class="active" data-toggle="modal" data-target="#ModalDownload">
                            <a href="javascript:void(0);"><i class="fa fa-cloud-download em14"></i> 下载文档</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <ul class="nav navbar-nav navbar-right wenku-up-to-top">
                        <li class="active go-top">
                            <a href="#wenku-content"><i class="fa fa-arrow-up em14"></i> 回到顶部</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    @if (Model.RelatedProducts.Any())
    {
        <h2 class="page-header">Related Products</h2>
        <div class="row product-list">
            @foreach (var product in Model.RelatedProducts)
            {
                <div class="col-xs-6 col-md-3">
                    <partial name="_ProductThumbnail" model="product" />
                </div>
            }
        </div>
    }

    @if (Model.CrossSellProducts.Any())
    {
        <h2 class="page-header">Cross-sell Products</h2>
        <div class="row product-list">
            @foreach (var product in Model.CrossSellProducts)
            {
                <div class="col-xs-6 col-md-3">
                    <partial name="_ProductThumbnail" model="product" />
                </div>
            }
        </div>
    }

    @await Component.InvokeAsync("ProductRecentlyViewed", new { productId = Model.Id })

    <div>
        <h3>@Localizer["Customer reviews"]</h3>
        @await Component.InvokeAsync("Review", new { entityId = Model.Id, entityTypeId = "Product" })
    </div>
    <br />
    <div>
        <h3>@Localizer["Customer comments"]</h3>
        @await Component.InvokeAsync("Comment", new { entityId = Model.Id, entityTypeId = "Product" })
    </div>

    @section scripts {
        <partial name="_ValidationScriptsPartial" />
        <script simpl-append-version="true" src="~/lib/smoothproducts/js/smoothproducts.js"></script>
        <script simpl-append-version="true" src="~/modules/catalog/product-detail.js"></script>
        <script simpl-append-version="true" src="~/lib/wenku/wenku.js"></script>
        <script src="~/lib/wenku/js/base.js" type="text/javascript" charset="utf-8"></script>

        <script src="~/lib/wenku/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="~/lib/wenku/js/jquery.toast.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="~/lib/wenku/js/jquery.scrollstop.js" type="text/javascript" charset="utf-8"></script>
        <script src="~/lib/wenku/js/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>
        <script src="~/lib/wenku/js/jquery.share.min.js"></script>
        <script src="~/lib/wenku/js/bootstrap.min.js"></script>
        <script src="~/lib/wenku/js/vue.js" type="text/javascript" charset="utf-8"></script>
        <script src="~/lib/wenku/js/info.js" type="text/javascript" charset="utf-8"></script>
        <script src="~/lib/wenku/js/new_file.js" type="text/javascript" charset="utf-8"></script>
    }


</div>
